<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="header">
        <div class="row justify-content-md-center">
          <h3>CryptoPrice</h3>
        </div>
      </section>
      <hr>
      <section class="default">
        <div class="row justify-content-md-center">
          <ul>
            <li class="default-item"><a href="#" class="btn btn-success" name="bitcoin" (click)="changeCoin($event)">BTC</a></li>
            <li class="default-item"><a href="#" class="btn btn-success" name="ethereum" (click)="changeCoin($event)">ETH</a></li>
            <li class="default-item"><a href="#" class="btn btn-success" name="magnet" (click)="changeCoin($event)">MAG</a></li>
          </ul>
        </div>
      </section>
      <hr>
      <section class="body">
        <div class="row justify-content-md-center">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price-USD</th>
                <th>Price-BTC</th>
                <th>1H</th>
                <th>1D</th>
                <th>7D</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{coin.symbol}}</td>
                <td>{{coin.name}}</td>
                <td>{{coin.price_usd}}</td>
                <td>{{coin.price_btc}}</td>
                <td><i [ngClass]="{'fa-arrow-up': ((coin?.percent_change_1h)?.indexOf('-') === -1), 'fa-arrow-down': ((coin?.percent_change_1h)?.indexOf('-') !== -1)}" class="fa" aria-hidden="true"></i>{{coin.percent_change_1h}}</td>
                <td><i [ngClass]="{'fa-arrow-up': ((coin?.percent_change_24h)?.indexOf('-') === -1), 'fa-arrow-down': ((coin?.percent_change_24h)?.indexOf('-') !== -1)}" class="fa" aria-hidden="true"></i>{{coin.percent_change_24h}}</td>
                <td><i [ngClass]="{'fa-arrow-up': ((coin?.percent_change_7d)?.indexOf('-') === -1), 'fa-arrow-down': ((coin?.percent_change_7d)?.indexOf('-') !== -1)}" class="fa" aria-hidden="true"></i>{{coin.percent_change_7d}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>